<!DOCTYPE html>
<html>

<head>
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/65406843e7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <header class="header">
            <div class="header__box">
                <input type="text" class="header__goods-search" v-model="searchLine">
                <button class="header__search-button" type="button" @click="filterGoods(searchLine)">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <button class="header__cart-button" type="button" @click="toggleCart()">Корзина</button>
            <div class=" header__cart-list" v-show="isVisibleCart">
                <div class="header__cart-item" v-for="good in goods">
                    <div class="header__goods-image"></div>
                    <h3 class="header__goods-item-product_name">{{ good.product_name }}</h3>
                    <p class="header__goods-item-price">{{ good.price }}</p>
                </div>
            </div>
    </div>
    </header>
    <main class="main container">
        <div class="main__goods-list">
            <div class="main__goods-item" v-for="good in filteredGoods">
                <div class="main__goods-image"></div>
                <h3 class="main__goods-item-product_name">{{ good.product_name }}</h3>
                <p class="main__goods-item-price">{{ good.price }}</p>
                <button class="main__button">Добавить в корзину</button>
            </div>
        </div>
    </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script async src="script_5.js"></script>
</body>

</html>