$item_width: 300px;

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    border: 1px solid #000;
}

.header__box {
    margin-left: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    height: 20px;
    align-items: center;
    border-radius: 12px;
}

.header__goods-search {
    border: none;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.header__goods-search:focus {
    outline: none;
}

.header__search-button {
    border: none;
    background: transparent;
    margin-right: 5px;
}

.header__search-button:hover {
    cursor: pointer;
}

.header__cart-button {
    margin-right: 20px;
    width: 80px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: white;
}

.header__cart-button:hover {
    background-color: wheat;
    cursor: pointer;
}

.main {
    padding-top: 20px;
}

.main__button {
    margin-top: 18px;
    width: 150px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: white;
}

.main__button:hover {
    background-color: wheat;
    cursor: pointer;
}

.main__goods-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main__goods-item {
    border: 1px solid #000;
    width: $item_width;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.main__goods-image {
    width: 258px;
    height: 200px;
    background-color: wheat;
    margin-bottom: 20px;
}

.main__goods-item-product_name {
    margin-bottom: 10px;
}